<h1>Welcome to Burgertown!</h1>
<br>
<br>
<br>

<h2 id="eat">Burgers to eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>
<br>
<br>
<br>
<br>
<br>

<h2 id="again">Burgers to Try again!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>
<br>
<br>
<br>
<br>
<br>

<h2>Create Burger</h2>
<form class="create-form">

    <div class="form-group">
        
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Hungry?<br>
        <input type="radio" name="devoured" value="0"> Devoured!
    </div>


    <button type="submit" class="btn btn-danger">Create Burger</button>
</form>